* {
    margin: 0px;
}

body {
    background-color: #F6F0EF;
}

img {
    width: 300px;
    display: flex;
}

nav {
    color: #69423A;
    display: flex;
    justify-content: space-between;
    background-color: #F6F0EF;
    color: #69423A;
    padding: 25px;


    li {
        display: flex;
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: #69423A;
    }

    ul {
        display: flex;
        gap: 100px;
    }

    #btn {
        margin: 5px;
        padding: 10px;
        background-color: #F6F0EF;
        color: #69423A;
    }

    h1 {
        font-size: 20px;
    }
}

#hero {
    background-color: #69423A;
    display: flex;
    justify-content: center;
}

#accroche {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 27px;
    flex-direction: column;

    p {
        color: #F6F0EF;
    }

    .button {
        width: fit-content;
        padding: 15px;
        margin: 50px;
        background-color: #F6F0EF;
        color: #69423A;
    }
}
.flex{
    display: flex;
    justify-content: space-between;
}

footer{
    background-color: #69423A;
color: #F6F0EF;
}